.container-fluid{
  background-color: white;
  min-height: 100vh;
  margin: 0;
  padding-right: 0;
  padding-left: 0;
}


.front-h1 {
  font-family: 'Inter';
  font-size: 64px;
  color: #222831;
}

.front-h2 {
  font-family: 'Inter';
  font-size: 45px;
  color: #222831;
}

.btn-dark{
  margin-top: 17.5px !important;
  border-radius: 50% !important;
  margin-left: 22.5px !important;
  font-family: 'Inter' !important;
  color: white  !important;
  font-size: 25px;
  width: 65px;
  height: 65px;
  align-content: center !important;
  padding-top: 14px;
}

.btn-long{
  background-color: #343a40 !important;
  border-color: #343a40 !important;
  margin-top: 17.5px !important;
  border-radius: 35px !important; 
  margin-left: 22.5px !important;
  font-family: 'Inter' !important;
  color: white  !important;
  font-size: 20px !important;
  padding-top: 15px !important ;
  padding-bottom: 15px !important;
  padding-left: 27px !important;
  padding-right: 27px !important;
  align-content: center !important;
}

.col-sm{
 /* border: 1px solid black; */
 margin-bottom: 75px;
}

.horizontal-center {
  width: 100%;
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}

.float-left{
  float: left;
  margin-left: 100px;
  margin-top: 25px;
}

.float-right{
  float: right;
  margin-bottom: 25px;
}

.front-button{
  margin-right: 100px;
  margin-top: 25px;
}

.goal-img{
  color: white;
  height: 50px
}

.fa-cog, .fa-moon {
  padding-top: 7px;
  font-size: 37px;
}

